.homescreen {
  max-width: 1300px;
  margin: 1rem auto;
}

.hs_title {
  font-size: 1.5rem;
  color: #dfdfdf;
  margin-bottom: 1rem;
  margin-left: 8px;
}

.hs_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
